*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
  background: #f4f1de;
}

.weather-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-app {
  width: 375px;
  height: 750px;
  border-radius: 40px;
  background: #eeeeee;
  border: 10px solid #333333;
  overflow: hidden;
  transition: background 0.3s ease;
}

.notch-wrapper {
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notch-left,
.notch-right {
  width: 20%;
  height: 100%;
}

.notch-left {
  border-top-right-radius: 20px;
}

.notch-center {
  width: 60%;
  height: 100%;
  background: #333333;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.search-wrapper {
  margin: 20px;
  display: flex;
  justify-content: center;
  position: relative;
}

.search-wrapper input {
  width: 100%;
  padding: 14px 20px 14px 45px;
  border: none;
  border-radius: 10px;
  outline: none;
  color: #ffffff;
  letter-spacing: 0.5px;
  font-size: 1.6rem;
  background: rgba(255, 255, 255, 0.3);
}

.search-wrapper input::placeholder {
  color: #ffffff;
}

.search-wrapper ion-icon {
  position: absolute;
  left: 15px;
  font-size: 1.8rem;
  color: #ffffff;
  top: 30%;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px;
}

.controls ion-icon {
  font-size: 2.4rem;
  color: #666666;
}

.controls .weather {
  font-size: 1rem;
  text-align: center;
}

.weather h1 {
  font-weight: 400;
  color: #666666;
  letter-spacing: 0.5px;
  font-size: 1.8rem;
}

.weather h2 {
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 1.6rem;
  color: #666666;
}

.current-temp {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;
}

.temp-desc {
  color: #666666;
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.temp-in-f {
  color: #666666;
  font-size: 10rem;
  font-weight: 500;
  position: relative;
}

.weather-details {
  display: flex;
  margin: 20px;
  border-radius: 15px;
  overflow: scroll;
  margin-top: 140px;
}

.detail {
  min-width: 140px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  padding: 20px 20px 15px 20px;
  color: #666666;
  font-size: 1.5rem;
}

.detail h3 {
  margin-top: 5px;
  font-size: 3rem;
  color: #555555;
  transition: color 0.3s ease;
}

img {
  width: 100%;
}
